---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import PostList from '@/components/PostList.astro';
import {
	getAllPosts,
	getAllTags,
	getAllTranslations,
	getAllTranslationTags,
	normalizeTag,
} from '@/utils';

export async function getStaticPaths() {
	const posts = await getAllPosts();
	const translations = await getAllTranslations();
	const blogTags = await getAllTags(posts);
	const translationTags = await getAllTranslationTags(translations);
	const allTags = [...new Set([...blogTags, ...translationTags])].sort();

	return allTags.map((tag) => {
		const filteredPosts = posts.filter(
			(post) => post.data.tags && post.data.tags.some((t) => normalizeTag(t) === tag)
		);
		const filteredTranslations = translations.filter(
			(translation) =>
				translation.data.tags && translation.data.tags.some((t) => normalizeTag(t) === tag)
		);
		return {
			params: { tag },
			props: { posts: filteredPosts, translations: filteredTranslations },
		};
	});
}

const { tag } = Astro.params;
const { posts, translations } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={`#${tag} | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>{`#${tag}`}</h3>
			{
				posts.length > 0 && (
					<>
						<h4>博客</h4>
						<PostList posts={posts} />
					</>
				)
			}
			{
				translations.length > 0 && (
					<>
						<h4>翻译</h4>
						<PostList posts={translations} basePath="/translations" />
					</>
				)
			}
		</main>
		<Footer />
	</body>
</html>
