---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import Twemoji from '@/components/Twemoji.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getAllPosts } from '@/utils';
import { getPopularPosts } from '@/utils/ranking';

export const prerender = false;

const posts = await getAllPosts();
const latestPosts = posts.slice(0, 5);

const popularPosts = await getPopularPosts(Astro.locals.runtime?.env, posts);

Astro.response.headers.set('Cache-Control', 'public, max-age=3600');
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1><Twemoji name="waving-hand" /> Hi! 我是陈劭珑</h1>
	<p>
		目前在 <Twemoji name="globe-showing-asia-australia" /> 工作的软件工程师, 为了 <Twemoji
			name="house"
		/>
		<Twemoji name="automobile" />
		<Twemoji name="money-bag" /> 而写代码
	</p>

	<h2>社交媒体链接</h2>
	<ul>
		<li>
			GitHub: <a
				href="https://github.com/maolonglong"
				rel="nofollow noopener noreferrer"
				target="_blank">github.com/maolonglong</a
			>
		</li>
	</ul>
	<h2>最近的文章</h2>
	<ul>
		{
			latestPosts.map((post) => (
				<li>
					<a href={`/blog/${post.id}/`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
	<h2>最受欢迎的文章</h2>
	<ul>
		{
			popularPosts.map((post) => (
				<li>
					<a href={`/blog/${post.id}/`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
