---
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';

import { SITE_TITLE } from '@/consts';
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Header from '@/components/Header.astro';
import TocItem from '@/components/TocItem.astro';
import Upvote from '@/components/Upvote';
import { buildHierarchy } from '@/utils';

type Props = CollectionEntry<'blog'>['data'] & {
	postId: string;
	headings: MarkdownHeading[];
};

const { postId, title, description, pubDate, tags, toc, headings } = Astro.props;
const tocHeadings = buildHierarchy(headings);
---

<html lang="zh-CN">
	<head>
		<BaseHead title={`${title} | ${SITE_TITLE}`} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<h1>{title}</h1>
			<p>
				<i>
					<FormattedDate date={pubDate} />
				</i>
			</p>
			{
				toc && tocHeadings.length > 0 && (
					<details>
						<summary>目录</summary>
						<ul>
							{tocHeadings.map((h) => (
								<TocItem heading={h} />
							))}
						</ul>
					</details>
				)
			}
			<slot />
			{
				tags && tags.length > 0 && (
					<p class="tags">
						{tags.sort().map((tag) => (
							<a href={`/tags/${tag}/`}>#{tag}</a>
						))}
					</p>
				)
			}
			<Upvote client:load postId={postId} />
		</main>
		<Footer />
	</body>
</html>
